.admin {
  width: 100%;
  display: flex;
  justify-content: center;

  .form {
    margin: 50px 0;
    width: 300px;
    background: white;
    border-radius: 10px;
    padding: 10px;

    h1 {
      margin-bottom: 10px;
    }

    input {
      width: 100%;
      padding: 10px 20px;
      border-radius: 5px;
      margin-bottom: 10px;
      border: 1px solid gray;
    }

    .error {
      margin-bottom: 10px;
      color: red;
      text-align: center;
    }

    button {
      width: 100%;
      letter-spacing: 5px;
      padding: 10px 20px;
      background: #4087fb;
      border-radius: 5px;
      color: white;
    }
  }
}