@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Audiowide', cursive;
  font-weight: 400;
}

html , body {
  background: #282c34;
}

ul , ol {
  list-style: none;
}

a {
  text-decoration: none;
}